<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FolderComponentFiles" value="D:\GitHub\PackLib4ES\Sources\Data\DocumentsOut" />
    <add key="FolderComponentSources" value="D:\GitHub\PackLib4ES\Sources\Data\ParametricComponentsSources" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>