<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pic.Factory2D.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Pic.Factory2D.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Pic.Factory2D.Settings>
      <setting name="AreaMaxNoSegments" serializeAs="String">
        <value>500</value>
      </setting>
    </Pic.Factory2D.Settings>
  </userSettings>
  <applicationSettings>
    <Pic.Factory2D.Properties.Settings>
      <setting name="AreaMaxNoSegments" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="UnitSystem" serializeAs="String">
        <value>1</value>
      </setting>
    </Pic.Factory2D.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
