<?xml version="1.0" encoding="utf-8"?> 
<?include Config.wxi?> 
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"> 
<Fragment> 
<DirectoryRef Id="Thumbnails" /> 
</Fragment> 
<Fragment> 
<ComponentGroup Id="ThumbnailsGroup"> 
<Component Id="cmp667A622F3B536DC32798892919C18FBD" Directory="Thumbnails" Guid="29E71EF7-33F6-41E2-8C6C-B3497D6DDC08"> 
<File Id="filFAE2A73D3E4E3E4E8AAA5B244BED8F5C" KeyPath="yes" Source="$(var.ThumbnailsDir)\Ai.bmp" /> 
</Component> 
<Component Id="cmpCBD1CAB2F95E1E01E9D935476CEC25B5" Directory="Thumbnails" Guid="C68B9337-2316-40DC-BC0B-9E57F681F20A"> 
<File Id="fil94DFC3073003C24508EE13A82A456FB6" KeyPath="yes" Source="$(var.ThumbnailsDir)\ARD.bmp" /> 
</Component> 
<Component Id="cmp8023CB727534B1A6040424C96C467514" Directory="Thumbnails" Guid="A381C08B-6C3D-4461-BC2F-497E9CC8CCDD"> 
<File Id="fil01C25B2CF4991875B57C532AFC066F27" KeyPath="yes" Source="$(var.ThumbnailsDir)\Calc.bmp" /> 
</Component> 
<Component Id="cmp0E2FD69575BAB7815416A99FD9BF23EF" Directory="Thumbnails" Guid="4E0DA6B8-CEA8-43B4-BB35-2E1DE5A3E7B7"> 
<File Id="filF869916B6F2B3DB79CBE1156403115CA" KeyPath="yes" Source="$(var.ThumbnailsDir)\Excel.bmp" /> 
</Component> 
<Component Id="cmpB3DAE0C803139A9C106B308E45B4558D" Directory="Thumbnails" Guid="54C58D33-D53E-4BCA-AA68-50210C653125"> 
<File Id="filBFFD1B293687501B88CA55C5E2A2D75B" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder.bmp" /> 
</Component> 
<Component Id="cmp56B62590C2242AC499A47D7A3A8B813A" Directory="Thumbnails" Guid="D4DDA676-C0A3-4C77-B9F4-35BE636C1FEF"> 
<File Id="fil9BE2C8FE7B1E5295B4EB39A37049CF8D" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder_blue-sky.png" /> 
</Component> 
<Component Id="cmp4DD2DC8DC5842D5387CFECC318C0BB6C" Directory="Thumbnails" Guid="4ED53122-FCDF-49B1-BBE0-34A9A988E55B"> 
<File Id="filA81C868303E98DE01BD7D745131B62C7" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder_blue.png" /> 
</Component> 
<Component Id="cmp80B1A1A29A30E92FEC2124887B88557C" Directory="Thumbnails" Guid="84F92F1F-88E4-441C-AB2A-79B2501BA924"> 
<File Id="fil3BFFE7C95B720D8DD4FBEC74AFFFEBC1" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder_green.png" /> 
</Component> 
<Component Id="cmp743AA60D54065722D84C60AB6EC34059" Directory="Thumbnails" Guid="9B0C1794-89BE-424D-B904-69C84FB52C56"> 
<File Id="filD58EE441249DD235EECDE350DC0DEFFB" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder_grey.jpg" /> 
</Component> 
<Component Id="cmp35E3627094187EE144CE0960A00CDA26" Directory="Thumbnails" Guid="B6C91D69-AB4F-4A4E-8ED3-3F5CAAA2AD7F"> 
<File Id="filC12234874FC1D0874CD7519137A84EC2" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder_lemon.png" /> 
</Component> 
<Component Id="cmp55C9A979B923F4BAD0B2CC719F9FF78A" Directory="Thumbnails" Guid="73CC9C76-A37F-4E05-85EE-4C362171BA19"> 
<File Id="fil2CF8542C87A4FCB0A858059A93CDBAAD" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder_orange.png" /> 
</Component> 
<Component Id="cmpF007F46636E611C3CD0CFF42E454F9B8" Directory="Thumbnails" Guid="5898A666-CF54-40C7-BB08-1BD1FF77BD14"> 
<File Id="fil8F27CFC7022E9F05ADD5514767D2589B" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder_purple.png" /> 
</Component> 
<Component Id="cmp76F414592CE7263ACF83C0412389F44A" Directory="Thumbnails" Guid="37497608-C4A1-45C0-9904-023D9D8A002A"> 
<File Id="fil0605E8F53FFE264FB4375D2BD174B594" KeyPath="yes" Source="$(var.ThumbnailsDir)\Folder_red.png" /> 
</Component> 
<Component Id="cmpD8B132916189EDEA1555A69F1A2CB51F" Directory="Thumbnails" Guid="F8495F31-6C34-453C-938B-0EA4933F3F6A"> 
<File Id="filF589E898B13156F2D0A32EB3AF7DD48B" KeyPath="yes" Source="$(var.ThumbnailsDir)\Image.bmp" /> 
</Component> 
<Component Id="cmpA1A7448B458D4964D72291CFE3A85CB3" Directory="Thumbnails" Guid="8481B886-6BAB-4113-9158-6BCB5FD61A27"> 
<File Id="filAFE3D1CD9AFC738964A37E919E532C61" KeyPath="yes" Source="$(var.ThumbnailsDir)\pdf.bmp" /> 
</Component> 
<Component Id="cmp6B9A7B95796F54E53C7197A7D4F65F01" Directory="Thumbnails" Guid="D4032B62-E8F3-44A0-95BA-84BC75F16011"> 
<File Id="filBEFFC86D888B57456229F128100C4C32" KeyPath="yes" Source="$(var.ThumbnailsDir)\Picador3D.bmp" /> 
</Component> 
<Component Id="cmpE876D2C78C9B737D38064DA2353C585C" Directory="Thumbnails" Guid="2512046E-C8AB-400A-95A6-3AB8B836A7F9"> 
<File Id="filB54ED1B07FBFB3ADF3DFA2B94087C874" KeyPath="yes" Source="$(var.ThumbnailsDir)\PicGEOM.bmp" /> 
</Component> 
<Component Id="cmp71CE24D20618DB2AE0596738CD6DB8A9" Directory="Thumbnails" Guid="9400C2F5-6693-4D45-90BF-28148FA20081"> 
<File Id="fil146733AA350847AE30D76D3C6C9655A9" KeyPath="yes" Source="$(var.ThumbnailsDir)\Powerpoint.bmp" /> 
</Component> 
<Component Id="cmp0610C8E5E01E9FF287140628F9DD0745" Directory="Thumbnails" Guid="B62DB1C6-A8A7-4C3A-AE9B-C795E0CEFC69"> 
<File Id="fil2581243F70F80F70D83093FACF9A98AA" KeyPath="yes" Source="$(var.ThumbnailsDir)\Word.bmp" /> 
</Component> 
<Component Id="cmp00379BD15BA9DD9B55F7C5FCABDAB534" Directory="Thumbnails" Guid="8C91DBC3-C710-4086-B6E8-DD8E2832CF1D"> 
<File Id="fil1CA3C3159AE34F2EE97E3008C6ABE653" KeyPath="yes" Source="$(var.ThumbnailsDir)\Writer.bmp" /> 
</Component> 
</ComponentGroup> 
</Fragment> 
</Wix> 
