<?xml version="1.0" encoding="UTF-8"?>
<?include Config.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Coalesce Parametric Design"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.ProductManufacturer)"
           UpgradeCode="c9cacf3f-a40b-4d15-b72b-fea2859d5e53">
    <Package Id="*"
             InstallerVersion="301"
             Compressed="yes"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>
    

    <Feature Id="ProductFeature" Title="Coalesce Parametric Design" Level="1">
      <ComponentGroupRef Id="PicParamGroup"/>
      <ComponentGroupRef Id="DatabaseGroup"/>
      <ComponentGroupRef Id="DocumentsGroup"/>
      <ComponentGroupRef Id="ThumbnailsGroup"/>
      <ComponentRef Id="ProgramMenuShortcutComp"/>
      <ComponentRef Id="DesktopShortcutComp"/>
      <ComponentRef Id="CA_PLMPackLibExeConfig"/>
    </Feature>


    <!--Installer icon-->
    <Icon Id="coalesce.ico" SourceFile="coalesce.ico"/>
    <Property Id="ARPPRODUCTICON" Value="coalesce.ico" />
    <Property Id="ARPHELPLINK" Value="$(var.CompanyURL)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.CompanyURL)" />
    <!-- User Interface -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />
    <WixVariable Id="WixUIBannerBmp" Value=".\Bitmaps\WixBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value=".\Bitmaps\WixDialogBmp.bmp" />
    <UI>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
    </UI>
  </Product>
</Wix>
