<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PicParam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Pic.Factory2D.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Pic.Plugin.ViewCtrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TreeDim.StackBuilder.GUIExtension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="treeDiM.StackBuilder.Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="treeDiM.Processor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PicParam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TreeDim.StackBuilder.GUIExtension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Pic.DAL.LibraryLoader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Pic.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="CustomSection" type="Pic.DAL.ApplicationConfiguration, Pic.DAL" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--Logging-->
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="RichTextBoxAppender" />
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="${TMP}\PLMPackLib.log" />
      <threshold value="INFO" />
      <appendToFile value="false" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*%-10level %-30date %-25logger %message %newline" />
      </layout>
    </appender>
    <appender name="RichTextBoxAppender" type="log4net.Appender.RichTextBoxAppender, RichTextBoxAppender">
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="DarkGreen" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Blue" />
        <isItalic value="true" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
        <isBold value="false" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Black" />
        <backColor value="Red" />
        <isBold value="true" />
        <isItalic value="true" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline%exception" />
      </layout>
    </appender>
    <system.diagnostics>
      <trace autoflush="true" indentsize="3" />
    </system.diagnostics>
  </log4net>
  <!-- userSettings -->
  <userSettings>
    <Pic.Factory2D.Control.Properties.Settings>
      <setting name="FileExportDirectory" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="FileOutputAppDES" serializeAs="String">
        <value />
      </setting>
      <setting name="FileOutputAppPic3DDES" serializeAs="String">
        <value />
      </setting>
      <setting name="FileOutputAppPicDecoupeDES" serializeAs="String">
        <value />
      </setting>
      <setting name="FileOutputAppDXF" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="FileOutputAppAI" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="FileOutputAppCF2" serializeAs="String">
        <value>
        </value>
      </setting>
    </Pic.Factory2D.Control.Properties.Settings>
    <Pic.Plugin.ViewCtrl.Properties.Settings>
      <setting name="AllowParameterAnimation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumberOfAnimationSteps" serializeAs="String">
        <value>10</value>
      </setting>
    </Pic.Plugin.ViewCtrl.Properties.Settings>
    <PicParam.Properties.Settings>
      <setting name="FileExportOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileExportExtension" serializeAs="String">
        <value>des</value>
      </setting>
      <setting name="FileExportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ThumbnailAnnotationFont" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UseCotationShortLines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartMaximized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ThumbnailAnnotationMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowCenteredTitle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MajorationRounding" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="CultureToUse" serializeAs="String">
        <value />
      </setting>
      <setting name="TSButtonAvailableOceProCut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TSButtonAvailableZUND" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TSButtonAvailableARISTO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TSButtonAvailableSUMMA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLogConsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DevelopperHelpUrl" serializeAs="String">
        <value>https://www.edgewoodsoftware.com/</value>
      </setting>
      <setting name="ShowButtonLayout" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowButtonEditCode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowButtonPalletization" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowButtonNonDXFExports" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowCotationsDuringExports" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowButtonHelp" serializeAs="String">
        <value>False</value>
      </setting>
    </PicParam.Properties.Settings>
    <TreeDim.StackBuilder.GUIExtension.Properties.Settings>
      <setting name="DefaultDirectory" serializeAs="String">
        <value>D:\GitHub\StackBuilder\Samples\</value>
      </setting>
    </TreeDim.StackBuilder.GUIExtension.Properties.Settings>
    <treeDiM.StackBuilder.Reporting.Properties.Settings>
      <setting name="TemplatePath" serializeAs="String">
        <value>D:\GitHub\StackBuilder\Sources\TreeDim.StackBuilder.Reporting\ReportTemplates\ReportTemplateHtml.xsl</value>
      </setting>
    </treeDiM.StackBuilder.Reporting.Properties.Settings>
    <treeDiM.Processor.Properties.Settings>
      <setting name="SettingsFilePath" serializeAs="String">
        <value>D:\GitHub\PLMPack\Sources\Librairies\treeDiM.Processor\ExporterSettings.xml</value>
      </setting>
    </treeDiM.Processor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Pic.DAL.Properties.Settings>
      <setting name="EmptyDBFilePath" serializeAs="String">
        <value>D:\GitHub\PLMPack\Sources\PicParamDb\Database\PicParam.db</value>
      </setting>
    </Pic.DAL.Properties.Settings>
    <PicParam.Properties.Settings>
      <setting name="UseRebrandedVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="HelpUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="UrlStartPage" serializeAs="String">
        <value>https://www.edgewoodsoftware.com/</value>
      </setting>
    </PicParam.Properties.Settings>
    <Pic.DAL.LibraryLoader.Settings>
      <setting name="UriPlmPackLib" serializeAs="String">
        <value></value>
      </setting>
    </Pic.DAL.LibraryLoader.Settings>
  </applicationSettings>
  <!--Set file repository path here-->
  <CustomSection databaseFile="D:\GitHub\PackLib4ES\Sources\Data\Database\PicParam.db"
                 thumbnailsPath="D:\GitHub\PackLib4ES\Sources\Data\Thumbnails\" />
  <!--StackBuilder database connection string-->
  <connectionStrings>
    <add name="StackBuilderEntities"
         connectionString="metadata=res://*/ModelSQLite.csdl|res://*/ModelSQLite.ssdl|res://*/ModelSQLite.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=K:\GitHub\StackBuilder\TreeDim.StackBuilder.SQLite\StackBuilder.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--StackBuilder database connection string-->
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.112.0" newVersion="1.0.112.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.9.0" newVersion="2.0.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>